* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

h1 {
  font-size: 4rem;
  text-transform: capitalize;
  font-weight: 800;
}
.container {
  padding: 2em 1em 2em 3em;
}

.line {
  width: 0.1em;
  height: 80vh;
  background-color: grey;
  position: absolute;
  left: 13em;
  top: 10em;
}

.line .line-left {
  position: absolute;
  left: -4.4em;
  top: 0em;
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: capitalize;
  color: black;
  writing-mode: vertical-lr;
}

.image img {
  width: 20%;
  position: absolute;
  left: 15em;
  top: 10em;
  transition: all 0.4s;
}

h3 {
  position: absolute;
  top: 6.7em;
  left: 30em;
  writing-mode: vertical-lr;
  font-weight: 800;
  font-size: 1.5rem;
  text-transform: capitalize;
  color: black;
}

h4 {
  font-size: 1.7em;
  font-family: serif;
  text-transform: capitalize;
  color: rgba(236, 144, 59, 0.89);
  letter-spacing: 5px;
  position: absolute;
  left: 45%;
  top: 35%;
  font-weight: 800;
}

.image .line-right {
  position: absolute;
  top: 15em;
  left: 63em;
  writing-mode: vertical-lr;
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: capitalize;
  color: black;
}

h5,
span {
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: capitalize;
  position: absolute;
  top: 31em;
  left: 72em;
}
span {
  top: 35em;
  font-weight: 400;
  color: grey;
}

.image .content h1 {
  text-align: left;
  font-size: 6em;
  color: grey;
  margin-top: 0.5em;
}

.image .content p {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 2em;
}
.image .content p + p {
  margin-top: 2em;
  font-weight: 400;
}
.image .content {
  visibility: hidden;
}
.image .content .open {
  visibility: visible;
  padding: 4em;
  background-color: #fff;
  width: 50%;
  position: absolute;
  left: 50%;
  top: 0;
  transition: all 0.4s ease;
  z-index: 3;
}

.image .content.active {
  visibility: visible;
  background-color: #fff;
  padding: 1em;
  width: 50%;
  height: 100vh;
  position: absolute;
  left: 50%;
  top: 0;
  transition: all 0.4s ease-out;
  z-index: 3;
}
.image img:nth-of-type(2) {
  left: 68em;
  top: 30em;
}
.image img.open {
  width: 580px;
  height: 780px;
  object-fit: cover;
  top: 0;
  left: 0;
  transition: all 0.4s ease-out;
  z-index: 3;
}
footer {
  position: fixed;
  bottom: 0;
  padding: 1em;
  font-size: 1.4em;
}
nav {
  padding: 8px;
}

.logo {
  float: left;
  padding: 8px;
  margin-left: 16px;
  margin-top: 8px;
}

.logo a {
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0px;
  text-decoration: none;
}

nav ul {
  float: right;
}

nav ul li {
  display: inline-block;
  float: left;
}

nav ul li:not(:first-child) {
  margin-left: 48px;
}

nav ul li:last-child {
  margin-right: 24px;
}

nav ul li a {
  display: inline-block;
  outline: none;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1.2px;
  font-weight: 600;
}
@media screen and (max-width: 864px) {
  .container {
    height: 200vh;
  }
  .logo {
    padding: 0;
  }
  .line {
    width: 0.1em;
    height: 80vh;
    background-color: grey;
    position: absolute;
    left: 5.5em;
    top: 10em;
  }

  .image .line-right {
    position: absolute;
    top: 15em;
    left: 63em;
    writing-mode: vertical-lr;
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: capitalize;
    color: black;
  }
  .image img.open {
    width: 50%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    transition: all 0.4s ease-out;
    z-index: 3;
  }
  .line .line-left {
    position: absolute;
    left: -2.4em;
    top: 0em;
    font-size: 1.5rem;
    font-weight: 800;
    text-transform: capitalize;
    color: black;
    writing-mode: vertical-lr;
  }
  .image img:nth-of-type(2) {
    left: 10em;
    top: 70em;
  }
  .image img {
    width: 60%;
    position: absolute;
    left: 10em;
    top: 10em;
    transition: all 0.4s;
  }
  h4 {
    visibility: hidden;
  }

  .nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #fff;
    opacity: 0;
    transition: all 0.2s ease;
  }

  .nav-wrapper ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }

  body {
    width: 100%;
    height: 100%;
    overflow: scroll;
  }

  .nav-wrapper ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
  }

  .nav-wrapper ul li:nth-child(1) a {
    transition-delay: 0.2s;
  }

  .nav-wrapper ul li:nth-child(2) a {
    transition-delay: 0.3s;
  }

  .nav-wrapper ul li:nth-child(3) a {
    transition-delay: 0.4s;
  }

  .nav-wrapper ul li:nth-child(4) a {
    transition-delay: 0.5s;
  }

  .nav-wrapper ul li:not(:first-child) {
    margin-left: 0;
  }

  .nav-wrapper ul li a {
    padding: 10px 24px;
    opacity: 0;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.2px;
    transform: translateX(-20px);
    transition: all 0.2s ease;
  }

  .nav-btn {
    position: fixed;
    right: 10px;
    top: 10px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }

  .nav-btn i {
    display: block;
    width: 20px;
    height: 2px;
    background: #000;
    border-radius: 2px;
    margin-left: 14px;
  }

  .nav-btn i:nth-child(1) {
    margin-top: 16px;
  }

  .nav-btn i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }

  .nav-btn i:nth-child(3) {
    margin-top: 4px;
  }
}
#nav:checked + .nav-btn {
  transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
  background: #000;
  transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
  transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
  opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
  z-index: 9990;
  opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
  opacity: 1;
  transform: translateX(0);
}

.hidden {
  display: none;
}
