img {
  width: 100%;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto;
  column-gap: 30px;
  row-gap: 40px;
}
.photo_1 {
  grid-column-start: 2;
}

.write_up1 {
  grid-column-start: 1;
  grid-row-start: 1;
  padding-left: 20px;
}
.write_up2 {
  grid-column-start: 3;
  grid-row-start: 2;
}
.photo_3 {
  grid-column-start: 2;
}
.photo_4 {
  grid-column-start: 1;
}
.photo_5 {
  grid-column-start: 3;
}
.photo_2 {
  grid-column-start: 2;
}
.header {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  z-index: 2;
}
.header nav {
  list-style: none;
}
.header nav li {
  display: inline;
  float: right;
  padding: 10px;
  font-size: 18px;
}
.header nav li a:link,
.header nav li a:visited {
  text-decoration: none;
  color: #5f7782;
}
.header nav li a:hover,
.header nav li a:active {
  border-bottom: 2px solid #514c4a42;
}
.blk_color2 {
  background-color: #d4d6d549;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  height: 375px;
}
.photo_1,
.blk_color {
  grid-row: 1 / 2;
  align-self: center;
}
.write_up4 p {
  text-align: center;
}
.blk_color2 p {
  text-align: center;
  letter-spacing: 2px;
  word-spacing: 5px;
  font-size: 16px;
  font-style: normal;
  font-family: "Courier New", Courier, monospace;
}
.write_up4 p {
  text-align: center;
  letter-spacing: 2px;
  word-spacing: 5px;
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  line-height: 20px;
  text-indent: 2px;
}
.footer {
  padding: 12px;
  text-align: center;
  background-color: #d4d6d549;
}
.form_section {
  background-color: #d4d6d549;
  padding: 100px 0 10px 30px;
}

input {
  padding: 10px;
  width: 75%;
  border-radius: 1px;
}
input:focus {
  outline: none;
}
textarea {
  height: 200px;
  width: 75%;
  font-family: sans-serif;
  padding: 10px;
  border-radius: 4px;
}
textarea:focus {
  outline: none;
}

.form__group {
  margin-bottom: 10px;
}
.submit {
  width: 20%;
}
.form-group:not(:last-child) {
  margin-bottom: 20px;
}
.section-payment {
  padding-top: 20px;
}
